
h1 {
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(113, 227, 90);
    border-radius: 6px;
}

pre{ 
    border-bottom: 3px solid rgb(205, 85, 85);
    border-top: 3px solid tomato;
    border-left: 2px dashed lightcoral;
}